.voice-chat-container {
    display: flex;
    flex-direction: column;
    height: 100hv;
  }  

  .call-card {
    display: flex;
    flex-direction: column;
    height: 100%; /* Ensure the card expands to fill the container */
  }
  
  .content-with-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* This ensures that the chat messages and actions are pushed to the top and bottom respectively */
    height: 100%;
  }
  
  .chat-messages {
    overflow-y: auto;
    margin-top: 20px;
    flex-grow: 1;
  }
  
  .actions {    
    flex-grow: 1;
  }
  
  .message {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .message-author {
    font-weight: bold;
    color: #3f51b5;
  }
  
  .message-text {
    margin-left: 10px;
  }
  
  
.example-spacer {
  flex: 1 1 auto;
}

.ptt-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.settings-button {
  position: absolute;
  top: 0;
  right: 0;
}

.push-to-talk-button {
  margin: 200px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: pulse-animation 10s infinite;
}

.animated-button {
  animation: pulse-animation 10s infinite;    
}

@keyframes pulse-animation {
  0% {
    transform: scale(1.5);
  }
  70% {
    transform: scale(2);
  }
  100% {
    transform: scale(1.5);
  }
}

.push-to-talk-button > span {
  font-size: 1.2rem; /* Larger font size */
  margin-top: 25px; /* Adjust spacing */
  margin-bottom: -30px; /* Adjust spacing */
}
  