.voice-chat-container {
    display: flex;
    flex-direction: column;
    height: 100hv;
  }  

  .call-card {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .content-with-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* This ensures that the chat messages and actions are pushed to the top and bottom respectively */
    height: 100%;
  }
  
  
.example-spacer {
  flex: 1 1 auto;
}

@keyframes blink {
  0%, 100% { opacity: 0.2; }
  50% { opacity: 1; }
}

.blinking-dots {
  animation: blink 5s infinite;
}