<mat-card class="call-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Call with Grace</mat-card-title>
    <mat-card-subtitle>Duration: <span *ngIf="callDuration$ | async as duration">{{duration}}</span></mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="content-with-button">
    <div class="chat-messages">
      <div class="message" *ngFor="let message of messages$ | async">
        <div class="message-author">{{message.author}}:</div>
        <div class="message-text">{{message.text}}</div>
      </div>
    </div>

    <button mat-raised-button color="accent" (click)="startCall()" *ngIf="!isCallStarted">
      <mat-icon>call</mat-icon>
      Start Call
    </button>

    <mat-divider></mat-divider>

  </mat-card-content>

  <mat-card-actions class="ptt-actions">

    <div class="settings-button">
      <button mat-icon-button>
        <mat-icon>settings</mat-icon>
      </button>
    </div>

    <div class="push-to-talk-button">
      <button mat-fab color="primary" class="animated-button" (mousedown)="startTalking()" (mouseup)="stopTalking()">
        <mat-icon>mic</mat-icon>
      </button>
      <span>Push to Talk</span>
    </div>
  </mat-card-actions>

  <mat-card-footer>
    <mat-divider></mat-divider>
    <div class="status-display">
      <ng-container *ngIf="callStatus === 'speaking'; else notSpeaking">
        <mat-icon color="warn">mic</mat-icon>
        <span>User Speaking...</span>
      </ng-container>
      <mat-progress-bar *ngIf="callStatus !== 'idle'" mode="indeterminate"></mat-progress-bar>

      <ng-container>
        <mat-icon color="primary">memory</mat-icon>
        <span>AI Avatar Thinking...</span>
      </ng-container>
      <mat-progress-bar *ngIf="callStatus !== 'idle'" mode="indeterminate"></mat-progress-bar>

      <ng-container>
        <mat-icon color="accent">hearing</mat-icon>
        <span>AI Avatar Talking...</span>
      </ng-container>
      <mat-progress-bar *ngIf="callStatus !== 'idle'" mode="indeterminate"></mat-progress-bar>

      <!-- example below -->
      <ng-template #notSpeaking>
        <ng-container *ngIf="callStatus === 'receiving'; else idle">
          <mat-icon color="accent">hearing</mat-icon>
          <span>Receiving...</span>
        </ng-container>
        <ng-template #idle>
          <mat-icon>phone_in_talk</mat-icon>
          <span>Idle</span>
        </ng-template>
      </ng-template>
    </div>
  </mat-card-footer>
</mat-card>