<mat-toolbar color="primary" class="header-toolbar">
    <mat-toolbar-row>
        <mat-icon>memory</mat-icon>
        <span>InnovaSpeak</span>

        <span class="example-spacer"></span>

        <button mat-button>
            <mat-icon>verified_user</mat-icon>
            100% Data Privacy
        </button>

    </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar color="primary" class="header-toolbar">
    <mat-toolbar-row>
        <button mat-button (click)="toggleSidenav()" style="margin-left: -20px; margin-right: 20px;">
            <mat-icon color="warn">menu</mat-icon>
            Select Avatar
        </button>

        <span class="example-spacer"></span>

        <button mat-raised-button color="accent">
            <mat-icon>feedback</mat-icon>
            Send Feedback
        </button>
    </mat-toolbar-row>
</mat-toolbar>


<mat-sidenav-container style="height: 100%;">
    <mat-sidenav #sidenav mode="side" [(opened)]="isSidenavOpen" style="width: 350px;">
        <mat-toolbar color="primary">

            <span>Virtual Innova Avatars</span>

            <span class="example-spacer"></span>
            <button mat-icon-button (click)="toggleSidenav()">
                <mat-icon>chevron_left</mat-icon>
            </button>
        </mat-toolbar>
        <mat-selection-list style="padding: 0; margin: 0;">
            <mat-list-item *ngFor="let avatar of avatars; trackBy: selectAvatar">
                <mat-card>

                    <mat-card-header class="example-card-header">
                        <img mat-card-avatar [src]="avatar.imageUri" alt="Avatar">
                        <mat-card-title>{{avatar.name}}</mat-card-title>
                        <mat-card-subtitle>{{avatar.longText}}</mat-card-subtitle>
                    </mat-card-header>


                </mat-card>
            </mat-list-item>
        </mat-selection-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <app-voice-chat-interface>
        </app-voice-chat-interface>
        <div style="margin-bottom: 30px;">
            <!-- dummy control for the non-scrollable footer -->
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

<footer class="footer">
    © 2024 InnovaSpeak. All rights reserved.
</footer>