<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav #sidenav mode="side" opened="true" fixedInViewport="true">
    
    <mat-toolbar>InnovaSpeak</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item>
        <mat-icon>account_circle</mat-icon>
        Profile
      </a>
      <a mat-list-item>
        <mat-icon>message</mat-icon>
        Messages
      </a>
    </mat-nav-list>
  </mat-sidenav>
  
  <mat-sidenav-content>    
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<footer class="footer">
  © 2024 InnovaSpeak. All rights reserved.
</footer>
