.center-content-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 94.5vh; /* Center vertically in viewport */
  }

.login-container {
    max-width: 400px;
    padding: 20px;
    border-radius: 20px;
    background-color: #fff; /* White background */
  }
  
  .login-title {
    margin-bottom: 20px; /* Add spacing below title */
  }
  
  .login-message {
    margin-bottom: 30px; /* Add spacing below message */
  }
  
  .login-button {
    width: 100%; /* Make button span full width */
  }